fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
httpx
requests

sentence-transformers
PyMuPDF

python-docx
beautifulsoup4
lxml
markdown
striprtf

openai

youtube-transcript-api
yt-dlp
faster-whisper